* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

body {
background:linear-gradient(135deg , #0f0f12 , #1a1a24) ;
color: #f3f4f6;
display: flex;
min-height: 100vh;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 20px;
}

.tuy {
background-color: #1a1a1e;
border: 1px #2d2d34 solid ;
padding: 40px 30px;
border-radius: 16px;
width: 100%;
max-width: 2700px;
display: flex;
flex-direction: column;
align-items: center;
height: 680px;
gap: 30px;
box-shadow: 0 10px rgba(0, 0, 0, 0.4);
}


h1 {
display: flex ;
justify-content: center;
align-items : center;
font-size: 2.2rem;
color: #6366f1;
}


.you {
position: relative;
display: flex;
gap: 20px;
justify-content: center;
align-items: center;
width: 100%;
margin: 15px 0;
bottom: -320px;
}


.answer {
font-size: 1.3rem;
width:300px ;
height: 55px;
border-radius:8px ;
background-color:#27273a ;
color:white ;
border: 1px solid #3f3f56;
cursor:pointer ;
transition: all 0.2s ease;
}

.answer:hover{
background:#6366f1 ;
border:#818cf8 ;
}






Input.monk {
border: 5px rgb(237, 151, 151 , 0.6) solid;
position: absolute;
top: 9px;
left: 9px;
box-shadow: 0 0 0 0 transparent , 0 8px 32px rgba(237, 151, 0, 0.15),inset 0 1px 0 rgba(237, 151, 151 ,0.1);
border-radius: 14px;
width:calc(100% -18px) ;
padding: 12px 20px;
background: rgb(255, 255, 255,0.15);
color: #ffffff;
font-size: 15px;
font-family:'segoe UI' , sans-serif ;
letter-spacing: 0.3px;
transition: all 0.3s ease;
outline: none;
backdrop-filter: blue(10px);
}

input.monk:focus{
box-shadow: 0 0 0 0 transparent , 0 8px 32px rgba(237, 151, 0, 0.15),inset 0 1px 0 rgba(237, 151, 151 ,0.1);
background: rgb(255, 255, 255,0.08);
border-color: rgb(237, 151, 151);
}

input.monk::placeholder {
color:rgba(255, 255, 255,0.4) ;
}
